.el-menu{
    background: #f4f4f4;
    color: #333;
    .el-menu-item, .el-submenu__title{
        color: #333;
        background: #f4f4f4;
    }
    &.is-active{
        color: #333;
    }
}
.el-menu-item:not(.is-disabled):hover,
.el-submenu__title:hover{
    color: #333;
    background:rgba(82, 186, 181, 0.38);
}  

.el-submenu{
    .el-menu{
        background: #f4f4f4;
        color: #333;
    }
}
.el-menu-item.is-active{
    background:rgba(82, 186, 181, 0.38);
    color: #333;
}
.el-submenu .el-menu-item{
    min-width: 0;
}
